# Node.js dependencies
node_modules
npm-debug.log
yarn-error.log
yarn-debug.log

# Logs
logs
*.log
*.log.*

# Temporary directories
temp
tmp

# Local environment files
.env
.env.local
.env.*.local

# Vite cache and build files
.vite
dist

# IDE directories and files
.idea
.vscode
*.sublime-project
*.sublime-workspace

# MacOS files
.DS_Store

# Docker specific files
Dockerfile*
docker-compose*.yml
